@import './iconfont.scss';

@font-face {
  font-family: 'Lato';
  src        : url('/fontawesome-webfont.woff2');
}

html,
body,
#__nuxt,
#__layout,
#layout {
  height: 100%;
}

html {
  font-size                  : 62.5%;
  -webkit-tap-highlight-color: transparent;

  body {
    margin                     : 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing     : antialiased;
    background                 : #fff;

    * {
      font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
      box-sizing : border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
      font-weight           : lighter;
      margin                : 0;
      color                 : #333333;
      -webkit-font-smoothing: antialiased;
      text-shadow           : 0 1px 1px rgba(0, 0, 0, 0.4);
    }

    p {
      margin : 0;
      padding: 0;
    }

    #layout {
      display: flex;

      img {
        max-width : 100%;
        max-height: 100%;
        object-fit: cover;
      }

      .nuxt {
        transition: all 0.15s;
      }
    }
  }
}