@media screen and (max-width: 1024px) {
  .article-box {

    .layer {


      img {}

      .vertical {


        .page-title {
          max-width    : 40vw;
          overflow     : hidden;
          text-overflow: ellipsis;
          white-space  : nowrap;
          font-size    : 24px;
        }

        .info {

          .time {}

          .tag {}

          .tag+.tag {}
        }
      }
    }

    .content {

      .markdown {
        width  : 100%;
        padding: 16px 16px;
        margin : 0;
      }

      .toc {
        display: none !important;

        .toc-item {


          &:hover {}
        }
      }

      .toc-copy {
        display: none;
      }
    }
  }
}